.mainn {
}
.formm {
  display: grid;
  /* margin: 0 55px 55px 355px; */
  padding: 20px 20px 20px 20px;
  text-align: justify;
}
.add {
  margin: 0;
  padding: 0;
}
.label1 {
  padding-left: 455px;
}
input {
  position: relative;
  margin: 10px 55px 10px 455px;

  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  width: 30%;
  border: 1.5px solid #ff9100;
  /* grid-row: 77px; */
}
.cake {
  margin: 10px 55px 10px 55px;
  border: 1.5px solid #ff9100;
  border-radius: 5px;
  width: 50%;
}
.pa {
  color: #ff9100;
  margin: 1px 0px 12px 455px;
}
.in {
  display: inline;
}

input:hover {
  color: #00712d;
}

/* .bt1 {
  display: inline;
  padding: 44%;
} */
.btt {
  padding: 10px 10px 10px 10px;
  width: 15%;
  border: 2px solid #ff9100;
  color: #ffffff;
  font-size: large;
  background-color: #ff9100;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 45%;
}
