.menu span {
  color: #ff9100;
  font-size: 45px;
  font-family: mv boli;
}

.our-recipe {
  padding-top: 5%;
}
.menu h1 {
  font-size: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.menu h1 span {
  color: #ff9100;
  margin-left: 15px;
  font-family: mv boli;
}
